.contact {
  background-color: var(--alabaster);
  padding: 2rem;
}

.Contact_Me{
  margin-top: 20px;
}

.section-header {
    margin-top: 20px;
}

.contact-me {
  background: var(--primary-blue);
  outline: none;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

#submit-button {
 margin-top: 10px;
 background: var(--cutty_sark);
 border: none;
}

#submit-button :hover {
  background: var(--san_juan);
}