.brandLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 50px;
  border-radius: 0px 50px 50px 0px;
  width: 250px;
  margin-right: 10px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--alabaster);
  border-bottom: 5px solid var(--cornflower_blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: var(--san_juan);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--cornflower_blue);
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }
}
